<div class="hero-unit">
	<h1>About</h1>
	<p>
		<%= link_to "Nate's Funhouse", "http://onemonthrails.com" %>
		is a project to teach Nate
		<%= link_to "how to have fun", "http://rubyonrails.org" %>
		in one month. This is the sample application.
	</p>
</div>